@import "vars";

#ss0 {
  background-color: #E7F3DB;
}

#ss1 {
  background-color: #F3E7DB;
}

#ss2 {
  background-color: #F3DBF3;
}

.b-ss {
  border-top: 1px solid #BDBDBD;
  padding-top: 50px;
  padding-bottom: 40px;
}

.b-ss img{
  width: 1024px;
  height: 768px;
  border: 1px solid #888888;
}

.b-ss .txt {
  font-size: 18px;
}