@import "vars";

.b-gallery {
  display: inline-block;
  font-size: 0;
  .content {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .item {
    position: absolute;
    background-color: white;
  }

  .left-arrow, .right-arrow {
    width: 20px;
    height: 40px;
    background-color: @leadColor;
    cursor: pointer;
  }

  .points {
    text-align: center;
    font-size: 0;
  }

  .point .inner {
    width: 8px;
    height: 8px;
    background-image: url("/img/gallery.png");
    cursor: pointer;
    left: 6px;
    position: relative;
    top: 6px;
  }

  .point {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .point.current .inner {
    background-position: -8px 0;
  }

  .txt {
    font-size: 17px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 100%;
  }

  td {
    padding: 0;
  }
}

.b-gal {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align : center;
  border-bottom: 1px solid @lineColor;
}

.b-video {
  padding-top: 12px;
  padding-bottom: 30px;
  text-align : center;
  border-bottom: 1px solid @lineColor;
  .h {
    font-size : 18px;
    padding-bottom: 5px;
  }
}

