@import "vars";

.b-gallery {
  display: inline-block;
  font-size: 0;
  .content {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .item {
    position: absolute;
    background-color: white;
  }

  .left-arrow, .right-arrow {
    width: 20px;
    height: 40px;
    background-color: @leadColor;
    cursor: pointer;
  }

  .points {
    text-align: center;
    font-size: 0;
  }

  .point .inner {
    width: 8px;
    height: 8px;
    background-image: url("/img/gallery.png");
    cursor: pointer;
    left: 6px;
    position: relative;
    top: 6px;
  }

  .point {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .point.current .inner {
    background-position: -8px 0;
  }

  .txt {
    font-size: 17px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 100%;
  }

  .iptxt  {
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: 50%;
  }

  .ipimg {
    margin: 10px;
    position: relative;
  }

  td {
    padding: 0;
  }
}

.b-gal {
  padding-top: 15px;
  text-align : center;
}

#ip0 {
  top: 65px;
}
#ip1 {
  left: 430px;
  top: 65px;
}
#ip3 {
  left: 430px;
  top: 365px;
}

#ipi0{
  top: 80px;
}
#ipi1{
  top: 80px;
}
#ipi2 {
  top: 130px;
}

#ipi3 {
  top: 130px;
}