@import "vars";

.b-gallery {
  display: inline-block;
  font-size: 0;
  .content {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .item {
    position: absolute;
  }

  .left-arrow, .right-arrow {
    width: 20px;
    height: 40px;
    background-color: @leadColor;
    cursor: pointer;
  }

  .points {
    text-align: center;
    margin-top: 5px;
    font-size: 0;
  }

  .point .inner {
    width: 7px;
    height: 7px;
    background-color: @leadColor;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: 5px;
  }

  .point {
    width: 16px;
    height: 15px;
    position: relative;
    margin-right: 7px;
    display: inline-block;
  }

  .point.current {
    border: 1px solid @leadColor;
    width: 14px;
    height: 14px;
  }

  .point.current .inner {
    left: 4px;
  }

  .txt {
    font-size: 17px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 100%;
  }

  td {
    padding: 0;
  }
}

.b-gal {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align : center;
}
