@import "elements.less";

.b-social {
//  .gradient(#FFFFF3, #339C00, #34B300);
  background-color: #EBE6EB;
  border-bottom: 1px solid #BDBDBD;
  height: 71px;
  max-height: 71px;
  min-height: 71px;

  td {
    vertical-align: top;
  }

  .last-btn {
    height: 20px;
  }

  .blk {
    margin-left: 20px;
    margin-top: 10px;
  }

  .pr {
//    color: #fff;
    padding-right: 10px;
    text-align: right;
  }
}

.b-follow{
  #follow-facebook {
    padding-top: 0px;
  }

  #follow-twitter {
    padding-top: 2px;
  }
  #follow-tumbrl {
    padding-top: 0px;
  }
  #follow-google {
    padding-top: 1px;
  }

  .pr {
    padding-top: 1px;
  }
}

.b-share {
  #share-twitter {
    padding-top: 1px;
    max-width: 90px;
  }

  #share-facebook {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-tumbrl {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-google {

  }
}

#portamento_container {
//  float:right;
  position:relative;
}

#portamento_container #social {
  float:none;
  position:absolute;
}

#portamento_container #social.fixed {
  position:fixed;
}
