@import "elements.less";

.b-social {
//  .gradient(#FFFFF3, #9DED4F, #5A9700);
//  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #888888;
  height: 71px;
  max-height: 71px;
  min-height: 71px;
  z-index: 10;

  td {
    vertical-align: top;
  }

  .last-btn {
    height: 20px;
  }

  .blk {
    margin-left: 20px;
    margin-top: 10px;
  }

  .pr {
//    color: #fff;
    padding-right: 10px;
    text-align: right;
  }

  .lim-width {
    overflow: hidden;
    max-height: 71px;
    min-height: 71px;
  }
}

.b-follow{
  #follow-facebook {
    width: 121px;
  }

  #follow-twitter {
    padding-top: 2px;
  }
  #follow-tumbrl {
    padding-top: 0px;
  }
  #follow-google {
    padding-top: 1px;
  }
  #follow-vk {
    padding-top: 1px;
  }

  .pr {
    padding-top: 1px;
  }
}

.b-share {
  #share-twitter {
    padding-top: 1px;
    max-width: 90px;
  }

  #share-facebook {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-tumbrl {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-google {
    width: 90px;
  }
}

#portamento_container {
//  float:right;
  position:relative;
}

#portamento_container #social {
  float:none;
  position:absolute;
}

#portamento_container #social.fixed {
  position:fixed;
}
