.b-social {
  border-top: 1px solid #BDBDBD;
  background-color: #EBE6EB;

  td {
    vertical-align: top;
  }

  .last-btn {
    height: 20px;
  }

  .blk {
    margin-left: 20px;
    margin-top: 10px;
  }

  .pr {
    padding-right: 10px;
    text-align: right;
  }
}

.b-follow{
  #follow-facebook {
    padding-top: 0px;
  }

  #follow-twitter {
    padding-top: 2px;
  }
  #follow-tumbrl {
    padding-top: 0px;
  }
  #follow-google {
    padding-top: 1px;
  }

  .pr {
    padding-top: 1px;
  }
}

.b-share {
  #share-twitter {
    padding-top: 1px;
    max-width: 90px;
  }

  #share-facebook {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-tumbrl {
    padding-top: 1px;
    padding-right: 20px;
  }

  #share-google {

  }
}

