.b-text {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  padding-top: 30px;

  .text {
    color: #2D2D2D;
    font-size: 14px;
    line-height: 23px;
    margin-left: 83px;
    width: 860px;
    text-align: left;
  }
}

.b-iphone {
  padding-top: 17px;
  padding-bottom: 20px;
  .h {
    font-size : 18px;
    padding-bottom: 5px;
  }
  table {
    margin: 0 auto;
  }
  .di{
    position: relative;
  }
  .iptxt {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 7px;
  }
}