.b-text {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  padding-top: 30px;

  .text {
    color: #2D2D2D;
    font-size: 14px;
    line-height: 23px;
    margin-left: 83px;
    width: 860px;
  }
}