@import "elements.less";

@logoWidth : 256px;
@logoHeight : 210px;

.b-top {
//  .gradient(#FFFFC8, #FFF, #FFFFC8);
//  .gradient(#FFFFF3, #003206, #000);
  background-color: #fff;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d372', endColorstr='#87dd5f',GradientType=0 ); /* IE6-9 */
  margin-bottom: -6px;
  padding-top: 5px;

  .logo {
    width : @logoWidth;
    height : @logoHeight;
    float: left;
    background: url("/img/icon.png");
    margin-right: 20px;
    margin-left: 20px;
  }

  #logo-text {
//    color: #fff;
    height : @logoHeight;
  }

  #raildale {
//    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 70px;
    left: -5px;
    line-height: 70px;
    padding-top: 45px;
    position: relative;
  }
  .pr {
    font-size: 18px;
    line-height: 20px;
//    color: #fff;

    a {
      text-decoration: none;
      color: #53952f;
    }
  }
}