@import "elements.less";

@logoWidth : 256px;
@logoHeight : 210px;

.b-top {
  .gradient(#F5F5F5, #FFFEE6, #FFFFF3);

  min-width: 1024px;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d372', endColorstr='#87dd5f',GradientType=0 ); /* IE6-9 */
  padding-bottom: 20px;
  padding-top: 5px;
}

.b-top .logo {
  width : @logoWidth;
  height : @logoHeight;
  float: left;
  background: url("/img/icon.png");
  margin-right: 20px;
  margin-left: 20px;
}

.b-top #logo-text {
  height : @logoHeight;
}

.b-top #raildale {
  font-size: 70px;
  left: -5px;
  line-height: 70px;
  padding-top: 60px;
  position: relative;
}

.b-top .pr {
  font-size: 18px;
  line-height: 20px;
}

.b-top .pr a {
  text-decoration: none;
  color: #488a2c;
}